.app-case-menu {
    color: #c6dee4;
}

.app-case-menu .label {
    background: linear-gradient(left, #54a0ae, #117b90, #117b90);
    width: 200px;
    display: inline-block;
    margin-left: 10px;
    padding-left: 16px;
}

.app-case-menu .cases {
    display: inline-block;
    padding-left: 100px;
}

.app-case-menu .cases .case {
    display: inline-block;
    padding-left: 20px;
    margin-right: 6px;
    width: 220px;
    background: linear-gradient(left, #54a0ae, #117b90, #117b90);
    transition: background .4s;
}

.app-case-menu .cases .case:hover {
    cursor: pointer;
    background: linear-gradient(left, #54a0ae, #54a0ae, #54a0ae);
}

.app-case-menu .cases .case.selected {
    background: #fff;
    color: #444;
    border-top: 2px solid #117b90;
    border-bottom: 2px solid #117b90;
}